
@model ElementProp

@if (Model.address != null)
{
    <li><i class="thm-clr fas fa-map-marker-alt"></i> @Model.address</li>
}

@if (Model.phoneNumber != null)
{
    <li>
        <a href="tel:@Model.phoneNumber" title="">@Model.phoneNumber</a><i class="thm-clr flaticon-phone-call"></i>
    </li>
}
