
@model ElementProp

@if (Model.address != null)
{
    <li>
        <i class="thm-clr fas fa-map-marker-alt fa-lg"></i> @Model.address
    </li>
}

@if (Model.phoneNumber != null)
{
    <li>
        <a href="tel:@Model.phoneNumber" title="">@Model.phoneNumber</a><i class="thm-clr flaticon-phone-call fa-lg"></i>
    </li>
}
