
@model ElementProp
<li><i class="thm-clr fas fa-map-marker-alt"></i> @Model.address</li>
<li>
    <a href="tel:@Model.phoneNumber" title="">@Model.phoneNumber</a><i class="thm-clr flaticon-phone-call"></i>
</li>
