
@model CommonAttributesViewModel

<form asp-action="insertelement4" asp-controller="crud" method="post" enctype="multipart/form-data"
      class="contact-form text-center w-100">
    @foreach (var item in ViewData["Languages"] as List<Language>)
    {
        <h3 style="margin-top: 30px">مشخصات @item.faTitle فیلد</h3>
        <div class="row" style="margin-top: 20px">
            <div class="col-md-12 col-sm-12 col-lg-12">
                <label class="d-block">عنوان فیلد</label>
                <input asp-for="titles" class="fname" type="text">
            </div>
            <div class="col-md-12 col-sm-12 col-lg-12">
                <label class="d-block">توضیحات فیلد</label>
                <textarea asp-for="descriptions" class="fname" type="text"></textarea>
            </div>
        </div>
        <input asp-for="languageIds" value="@item.id" hidden />
    }

    <button id="maininsertbtn" hidden></button>
</form>
<div class="col-md-12 col-sm-12 col-lg-12" style="margin-top: 30px">
    <button id="secondinsertbtn" class="thm-btn thm-bg">
        ثبت<i class="flaticon-arrow-pointing-to-left"></i>
    </button>
</div>

<script>
    $(function () {
        tinymce.init({
            selector: 'textarea',
            setup: function (editor) {
                editor.on('change', function () {
                    editor.save();
                });
            },
            plugins: 'advlist autolink autosave link image lists charmap print preview hr anchor pagebreak spellchecker searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking save table contextmenu directionality emoticons template textcolor paste textcolor colorpicker',
            toolbar: 'a11ycheck numlist bullist tabfocus addcomment showcomments casechange checklist code formatpainter pageembed permanentpen table',
            toolbar_mode: 'floating',
            tinycomments_mode: 'embedded',
            tinycomments_author: 'Author name',
            forced_root_block: "",
            force_br_newlines: true,
            force_p_newlines: false,
            image_title: true,
            automatic_uploads: true,
            file_picker_types: 'image',
            file_picker_callback: function (cb, value, meta) {
                var input = document.createElement('input');
                input.setAttribute('type', 'file');
                input.setAttribute('accept', 'image/*');

                input.onchange = function () {
                    var file = this.files[0];

                    var reader = new FileReader();
                    reader.onload = function () {
                        var id = 'blobid' + (new Date()).getTime();
                        var blobCache = tinymce.activeEditor.editorUpload.blobCache;
                        var base64 = reader.result.split(',')[1];
                        var blobInfo = blobCache.create(id, file, base64);
                        blobCache.add(blobInfo);

                        cb(blobInfo.blobUri(), { title: file.name });
                    };
                    reader.readAsDataURL(file);
                };

                input.click();
            },
        });
    })

    $(function () {
        $(secondinsertbtn).click(function () {
            Swal.fire({
                title: 'ثبت فیلد',
                text: "فیلد مورد نظر ثبت شود؟",
                icon: 'question',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'بله',
                cancelButtonText: 'بازگشت'

            }).then((result) => {
                if (result.isConfirmed) {
                    $(maininsertbtn).click()
                }
            })
        })
    })
</script>
