
@{
    ViewData["Title"] = localizer["Error"];
}

@inject IViewLocalizer localizer

<section>
    <div class="w-100 pt-170 pb-150 dark-layer3 opc7 position-relative">
        <div class="fixed-bg" style="background-image: url(/assets/images/pagetop-bg.jpg);"></div>
        <div class="container">
            <div class="page-top-wrap w-100">
            </div>
        </div>
    </div>
</section>

<h2 style="margin-top: 150px; margin-bottom: 150px; margin-right: 40px; color: red">404</h2>
<h3 style="margin-top: 150px; margin-bottom: 150px; margin-right: 40px">@localizer["ErrorMessage"]</h3>
