
@{
    ViewData["Title"] = "صفحه اصلی";
}

<section>
    <div class="w-100 position-relative">
        <div class="feat-wrap style2 position-relative w-100">
            <div class="feat-caro">
                <div class="feat-item text-center">
                    <div class="feat-img position-absolute"
                         style="background-image: url(/assets/images/resources/slide1.jpg);"></div>
                    <div class="container">
                        <div class="feat-cap">
                            <h1 class="mb-0">
                                کارگران ایمنی دارند در <strong class="d-inline-block thm-clr">برلا</strong>
                            </h1>
                            <p class="mb-0">
                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده
                                از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم
                                است
                            </p>
                            <div class="feat-cap-innr">
                                <a class="thm-btn thm-bg" href="about.html" title="">
                                    بیشتر بدانید<i class="flaticon-arrow-pointing-to-left"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="feat-item text-center">
                    <div class="feat-img position-absolute"
                         style="background-image: url(/assets/images/resources/slide2.jpg);"></div>
                    <div class="container">
                        <div class="feat-cap">
                            <h1 class="mb-0">
                                کارگران ایمنی دارند در <strong class="d-inline-block thm-clr">برلا</strong>
                            </h1>
                            <p class="mb-0">
                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده
                                از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم
                                است
                            </p>
                            <div class="feat-cap-innr">
                                <a class="thm-btn thm-bg" href="about.html" title="">
                                    بیشتر بدانید<i class="flaticon-arrow-pointing-to-left"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="feat-item text-center">
                    <div class="feat-img position-absolute"
                         style="background-image: url(/assets/images/resources/slide3.jpg);"></div>
                    <div class="container">
                        <div class="feat-cap">
                            <h1 class="mb-0">
                                کارگران ایمنی دارند در <strong class="d-inline-block thm-clr">برلا</strong>
                            </h1>
                            <p class="mb-0">
                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده
                                از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم
                                است
                            </p>
                            <div class="feat-cap-innr">
                                <a class="thm-btn thm-bg" href="about.html" title="">
                                    بیشتر بدانید<i class="flaticon-arrow-pointing-to-left"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- Featured Area Wrap -->
    </div>
</section>
<section>
    <div class="w-100 pt-100 pb-70 position-relative">
        <div class="container">
            <div class="sec-title v2 text-center w-100">
                <div class="sec-title-inner d-inline-block">
                    <span class="thm-clr d-block">خدمات استاندارد ما</span>
                    <h2 class="mb-0">آل دیگر یک ایده آینده نگرانه نیست ، اکنون در اینجا حضور دارد</h2>
                    <p class="mb-0">
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
                        گرافیک است
                    </p>
                </div>
            </div>
            <div class="serv-wrap text-center w-100">
                <div class="row res-caro2">
                    <div class="col-md-4 col-sm-6 col-lg-3">
                        <div class="serv-box2 position-relative overflow-hidden w-100"
                             style="background-image: url(/assets/images/resources/serv-bg1.jpg);">
                            <i class="thm-clr flaticon-wheel-saw"></i>
                            <div class="serv-box-inner">
                                <h3 class="mb-0">
                                    <a href="services-detail.html" title="">ساخت و ساز و مهندسی</a>
                                </h3>
                                <p class="mb-0">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-lg-3">
                        <div class="serv-box2 position-relative overflow-hidden w-100"
                             style="background-image: url(/assets/images/resources/serv-bg2.jpg);">
                            <i class="thm-clr flaticon-helmet"></i>
                            <div class="serv-box-inner">
                                <h3 class="mb-0"><a href="services-detail.html" title="">تجهیزات صنعتی</a></h3>
                                <p class="mb-0">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-lg-3">
                        <div class="serv-box2 position-relative overflow-hidden w-100"
                             style="background-image: url(/assets/images/resources/serv-bg3.jpg);">
                            <i class="thm-clr flaticon-carpenter"></i>
                            <div class="serv-box-inner">
                                <h3 class="mb-0"><a href="services-detail.html" title="">مالک نمایندگی</a></h3>
                                <p class="mb-0">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-lg-3">
                        <div class="serv-box2 position-relative overflow-hidden w-100"
                             style="background-image: url(/assets/images/resources/serv-bg4.jpg);">
                            <i class="thm-clr flaticon-jigsaw"></i>
                            <div class="serv-box-inner">
                                <h3 class="mb-0">
                                    <a href="services-detail.html" title="">سوخت گازی تولیدات</a>
                                </h3>
                                <p class="mb-0">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- Services Wrap -->
        </div>
    </div>
</section>
<section>
    <div class="w-100 pt-100 paralx-70 blue-layer opc7 position-relative">
        <div class="fixed-bg" style="background-image: url(/assets/images/parallax1.jpg);"></div>
        <div class="container">
            <div class="sec-title w-100">
                <div class="sec-title-inner d-inline-block">
                    <span class="d-block thm-clr">کارهای ما</span>
                    <h3 class="mb-0">آخرین پروژه های ما</h3>
                </div>
            </div>
        </div>
        <div class="proj-wrap px-70 w-100">
            <div class="row proj-caro">
                <div class="col-md-4 col-sm-6 col-lg-3">
                    <div class="proj-box position-relative w-100">
                        <div class="proj-thumb overflow-hidden w-100">
                            <a href="project-detail.html" title="">
                                <img class="img-fluid w-100" src="~/assets/images/resources/proj-img1-1.jpg"
                                     alt="Project Image 1">
                            </a>
                        </div>
                        <div class="proj-info position-absolute">
                            <i class="flaticon-helmet"></i>
                            <h3 class="mb-0">
                                <a href="project-detail.html" title="">ساخت و ساز و <br> مهندسی</a>
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-lg-3">
                    <div class="proj-box position-relative w-100">
                        <div class="proj-thumb overflow-hidden w-100">
                            <a href="project-detail.html" title="">
                                <img class="img-fluid w-100" src="~/assets/images/resources/proj-img1-2.jpg"
                                     alt="Project Image 2">
                            </a>
                        </div>
                        <div class="proj-info position-absolute">
                            <i class="flaticon-electric-tower"></i>
                            <h3 class="mb-0"><a href="project-detail.html" title="">صنعت <br>شبکه برق</a></h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-lg-3">
                    <div class="proj-box position-relative w-100">
                        <div class="proj-thumb overflow-hidden w-100">
                            <a href="project-detail.html" title="">
                                <img class="img-fluid w-100" src="~/assets/images/resources/proj-img1-3.jpg"
                                     alt="Project Image 3">
                            </a>
                        </div>
                        <div class="proj-info position-absolute">
                            <i class="flaticon-file"></i>
                            <h3 class="mb-0">
                                <a href="project-detail.html" title="">شیمیایی <br> مرکز تحقیقات</a>
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-lg-3">
                    <div class="proj-box position-relative w-100">
                        <div class="proj-thumb overflow-hidden w-100">
                            <a href="project-detail.html" title="">
                                <img class="img-fluid w-100" src="~/assets/images/resources/proj-img1-4.jpg"
                                     alt="Project Image 4">
                            </a>
                        </div>
                        <div class="proj-info position-absolute">
                            <i class="flaticon-engineer-2"></i>
                            <h3 class="mb-0">
                                <a href="project-detail.html" title="">شیمیایی <br> مرکز تحقیقات</a>
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-lg-3">
                    <div class="proj-box position-relative w-100">
                        <div class="proj-thumb overflow-hidden w-100">
                            <a href="project-detail.html" title="">
                                <img class="img-fluid w-100" src="~/assets/images/resources/proj-img1-5.jpg"
                                     alt="Project Image 5">
                            </a>
                        </div>
                        <div class="proj-info position-absolute">
                            <i class="flaticon-worker"></i>
                            <h3 class="mb-0"><a href="project-detail.html" title="">صنعتی <br> ساخت و ساز</a></h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-lg-3">
                    <div class="proj-box position-relative w-100">
                        <div class="proj-thumb overflow-hidden w-100">
                            <a href="project-detail.html" title="">
                                <img class="img-fluid w-100" src="~/assets/images/resources/proj-img1-6.jpg"
                                     alt="Project Image 6">
                            </a>
                        </div>
                        <div class="proj-info position-absolute">
                            <i class="flaticon-lighthouse"></i>
                            <h3 class="mb-0"><a href="project-detail.html" title="">کشتی سازی <br> صنعت</a></h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-lg-3">
                    <div class="proj-box position-relative w-100">
                        <div class="proj-thumb overflow-hidden w-100">
                            <a href="project-detail.html" title="">
                                <img class="img-fluid w-100" src="~/assets/images/resources/proj-img1-7.jpg"
                                     alt="Project Image 7">
                            </a>
                        </div>
                        <div class="proj-info position-absolute">
                            <i class="flaticon-worker-1"></i>
                            <h3 class="mb-0">
                                <a href="project-detail.html" title="">شیمیایی <br> مرکز تحقیقات</a>
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-lg-3">
                    <div class="proj-box position-relative w-100">
                        <div class="proj-thumb overflow-hidden w-100">
                            <a href="project-detail.html" title="">
                                <img class="img-fluid w-100" src="~/assets/images/resources/proj-img1-8.jpg"
                                     alt="Project Image 8">
                            </a>
                        </div>
                        <div class="proj-info position-absolute">
                            <i class="flaticon-construction"></i>
                            <h3 class="mb-0">
                                <a href="project-detail.html" title="">شیمیایی <br>مرکز تحقیقات</a>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- Projects Wrap -->
    </div>
</section>
<section>
    <div class="w-100 pt-100 pb-100 position-relative">
        <div class="container">
            <div class="about-wrap style2 w-100">
                <div class="row align-items-center justify-content-center">
                    <div class="col-md-5 col-sm-12 col-lg-5 order-lg-1">
                        <div class="about-image position-relative w-100">
                            <img class="img-fluid w-100" src="~/assets/images/resources/about-image2.jpg"
                                 alt="About Image 2">
                        </div>
                    </div>
                    <div class="col-md-7 col-sm-12 col-lg-7">
                        <div class="about-desc w-100">
                            <h2 class="mb-0">
                                ما محصولات بازاریابی و دیجیتالی بسیار مفیدی را تولید می کنیم که رشد می
                                کنند <strong class="thm-clr d-block">- برلای ما.</strong>
                            </h2>
                            <p class="mb-0">
                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده
                                از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم
                                است
                            </p>
                        </div>
                        <div class="serv-wrap w-100">
                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-lg-6">
                                    <div class="serv-box w-100">
                                        <i class="thm-clr flaticon-car-parts"></i>
                                        <div class="serv-box-inner">
                                            <h3 class="mb-0">
                                                <a href="services-detail.html" title="">
                                                    اتومبیل <br>
                                                    ساخت
                                                </a>
                                            </h3>
                                            <p class="mb-0">
                                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت
                                                چاپ.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-lg-6">
                                    <div class="serv-box w-100">
                                        <i class="thm-clr flaticon-helmet"></i>
                                        <div class="serv-box-inner">
                                            <h3 class="mb-0">
                                                <a href="services-detail.html" title="">
                                                    مالک <br>
                                                    نمایندگی
                                                </a>
                                            </h3>
                                            <p class="mb-0">
                                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت
                                                چاپ.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-lg-6">
                                    <div class="serv-box w-100">
                                        <i class="thm-clr flaticon-builder"></i>
                                        <div class="serv-box-inner">
                                            <h3 class="mb-0">
                                                <a href="services-detail.html" title="">
                                                    اتومبیل <br>
                                                    ساخت
                                                </a>
                                            </h3>
                                            <p class="mb-0">
                                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت
                                                چاپ
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-lg-6">
                                    <div class="serv-box w-100">
                                        <i class="thm-clr flaticon-architect"></i>
                                        <div class="serv-box-inner">
                                            <h3 class="mb-0">
                                                <a href="services-detail.html" title="">
                                                    مالک <br>
                                                    نمایندگی
                                                </a>
                                            </h3>
                                            <p class="mb-0">
                                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت
                                                چاپ
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- Services Wrap -->
                    </div>
                </div>
            </div><!-- About Wrap -->
        </div>
    </div>
</section>
<section>
    <div class="w-100 pt-130 pb-100 position-relative">
        <div class="container">
            <div class="sec-title2 w-100">
                <div class="sec-title-inner2 d-inline-block">
                    <p class="mb-0">
                        ما برای عدالت می جنگیم ، ما همیشه آماده هستیم تا بهترین راه حل را برای مشکل شما
                        ارائه دهیم.
                    </p>
                </div>
            </div>
            <div class="solutions-wrap w-100">
                <div class="row align-items-center">
                    <div class="col-md-6 col-sm-12 col-lg-6">
                        <img class="img-fluid w-100" src="~/assets/images/resources/solutions-img.jpg"
                             alt="Solutions Image">
                    </div>
                    <div class="col-md-6 col-sm-12 col-lg-6">
                        <div class="solutions-content-wrap w-100">
                            <h2 class="mb-0">راه حل های فنی</h2>
                            <ul class="solutions-list mb-0 list-unstyled w-100">
                                <li>
                                    <i class="">+</i>
                                    <h4 class="mb-0">مهارت کارگران</h4>
                                    <p class="mb-0">
                                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
                                        استفاده از طراحان گرافیک است
                                    </p>
                                </li>
                                <li>
                                    <i class="">+</i>
                                    <h4 class="mb-0">20-25 سال گارانتی.</h4>
                                    <p class="mb-0">
                                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
                                        استفاده از طراحان گرافیک است
                                    </p>
                                </li>
                                <li>
                                    <i class="">+</i>
                                    <h4 class="mb-0">ساخت رایگان</h4>
                                    <p class="mb-0">
                                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
                                        استفاده از طراحان گرافیک است
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div><!-- Solutions Wrap -->
        </div>
    </div>
</section>
<section>
    <div class="w-100 pt-100 pb-100 position-relative">
        <div class="container">
            <div class="sec-title w-100">
                <div class="sec-title-inner d-inline-block">
                    <span class="d-block thm-clr">سوالات متداول ما</span>
                    <h3 class="mb-0">سوالات متداول</h3>
                </div>
            </div>
            <div class="faq-wrap w-100">
                <div class="row">
                    <div class="col-md-6 col-sm-12 col-lg-6 order-md-1">
                        <img class="img-fluid" src="~/assets/images/resources/faq-mockup.png" alt="Faq Mockup">
                    </div>
                    <div class="col-md-6 col-sm-12 col-lg-6">
                        <div class="toggle w-100" id="toggle">
                            <div class="toggle-item w-100">
                                <h4 class="mb-0"><span>01.</span>چگونه می توانم این هدفون را خریداری کنم؟</h4>
                                <div class="toggle-content w-100">
                                    <p class="mb-0">
                                        لورم ایپسوم متن ساختگی با تولید
                                        سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه
                                        روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد
                                        نیاز
                                    </p>
                                </div>
                            </div>
                            <div class="toggle-item w-100">
                                <h4 class="mb-0"><span>02.</span>این مخصوصاً برای گوش دادن به موسیقی است؟</h4>
                                <div class="toggle-content w-100">
                                    <p class="mb-0">
                                        لورم ایپسوم متن ساختگی با تولید
                                        سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه
                                        روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد
                                        نیاز
                                    </p>
                                </div>
                            </div>
                            <div class="toggle-item w-100">
                                <h4 class="mb-0"><span>03.</span>چگونه می توانم آن را سفارش دهم؟</h4>
                                <div class="toggle-content w-100">
                                    <p class="mb-0">
                                        لورم ایپسوم متن ساختگی با تولید
                                        سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه
                                        روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد
                                        نیاز
                                    </p>
                                </div>
                            </div>
                            <div class="toggle-item w-100">
                                <h4 class="mb-0"><span>04.</span>چگونه می توان با این هدفون کار کرد؟</h4>
                                <div class="toggle-content w-100">
                                    <p class="mb-0">
                                        لورم ایپسوم متن ساختگی با تولید
                                        سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه
                                        روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد
                                        نیاز
                                    </p>
                                </div>
                            </div>
                            <div class="toggle-item w-100">
                                <h4 class="mb-0"><span>05.</span>این مخصوصاً برای گوش دادن به موسیقی است؟</h4>
                                <div class="toggle-content w-100">
                                    <p class="mb-0">
                                        لورم ایپسوم متن ساختگی با تولید
                                        سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه
                                        روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد
                                        نیاز
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- Faq Wrap -->
        </div>
    </div>
</section>
<section>
    <div class="w-100 pt-155 pb-155 blue-layer opc85 position-relative">
        <div class="fixed-bg" style="background-image: url(/assets/images/parallax3.jpg);"></div>
        <div class="particles-js" id="prtcl"></div>
        <div class="container">
            <div class="banner-wrap position-relative text-center w-100">
                <div class="banner-inner d-inline-block">
                    <h2 class="mb-0">فاصله ای بین تجارت و فناوری</h2>
                    <p class="mb-0">
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
                        گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است
                    </p>
                    <a class="thm-btn thm-bg" href="about.html" title="">
                        بیشتر بدانید<i class="flaticon-arrow-pointing-to-left"></i>
                    </a>
                </div>
            </div><!-- Banner Wrap -->
        </div>
    </div>
</section>
<section>
    <div class="w-100 pt-100 pb-50 position-relative">
        <div class="container">
            <div class="sec-title w-100">
                <div class="sec-title-inner d-inline-block">
                    <span class="d-block thm-clr">وبلاگ ما</span>
                    <h3 class="mb-0">آخرین اخبار ما</h3>
                </div>
            </div>
            <div class="blog-wrap w-100">
                <div class="row post-caro">
                    <div class="col-md-6 col-sm-6 col-lg-4">
                        <div class="post-box w-100 text-center">
                            <div class="post-img overflow-hidden w-100">
                                <a href="blog-detail.html" title="">
                                    <img class="img-fluid w-100"
                                         src="~/assets/images/resources/post-img1-1.jpg"
                                         alt="Post Image 1">
                                </a>
                            </div>
                            <div class="post-info w-100">
                                <h3 class="mb-0">
                                    <a href="blog-detail.html" title="">
                                        مدل ها و راه حل های نصب شده |
                                        شرکت سیمول
                                    </a>
                                </h3>
                                <p class="mb-0">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>
                                <div class="post-info-bottom d-flex flex-wrap w-100">
                                    <span class="d-inline-block">
                                        <i class="far fa-user"></i><a href="javascript:void(0);" title="">تیم نتیتا</a>
                                    </span>
                                    <ul class="post-meta mb-0 list-unstyled d-inline-flex">
                                        <li><i class="far fa-calendar-alt"></i>03 تیر 1400</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-lg-4">
                        <div class="post-box w-100 text-center">
                            <div class="post-img overflow-hidden w-100">
                                <a href="blog-detail.html" title="">
                                    <img class="img-fluid w-100"
                                         src="~/assets/images/resources/post-img1-2.jpg"
                                         alt="Post Image 2">
                                </a>
                            </div>
                            <div class="post-info w-100">
                                <h3 class="mb-0">
                                    <a href="blog-detail.html" title="">
                                        مدل ها و راه حل های نصب شده |
                                        شرکت سیمول
                                    </a>
                                </h3>
                                <p class="mb-0">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>
                                <div class="post-info-bottom d-flex flex-wrap w-100">
                                    <span class="d-inline-block">
                                        <i class="far fa-user"></i><a href="javascript:void(0);" title="">تیم نتیتا</a>
                                    </span>
                                    <ul class="post-meta mb-0 list-unstyled d-inline-flex">
                                        <li><i class="far fa-calendar-alt"></i>03 تیر 1400</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-lg-4">
                        <div class="post-box w-100 text-center">
                            <div class="post-img overflow-hidden w-100">
                                <a href="blog-detail.html" title="">
                                    <img class="img-fluid w-100"
                                         src="~/assets/images/resources/post-img1-3.jpg"
                                         alt="Post Image 3">
                                </a>
                            </div>
                            <div class="post-info w-100">
                                <h3 class="mb-0">
                                    <a href="blog-detail.html" title="">
                                        مدل ها و راه حل های نصب شده |
                                        شرکت سیمول
                                    </a>
                                </h3>
                                <p class="mb-0">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>
                                <div class="post-info-bottom d-flex flex-wrap w-100">
                                    <span class="d-inline-block">
                                        <i class="far fa-user"></i><a href="javascript:void(0);" title="">تیم نتیتا</a>
                                    </span>
                                    <ul class="post-meta mb-0 list-unstyled d-inline-flex">
                                        <li><i class="far fa-calendar-alt"></i>03 تیر 1400</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-lg-4">
                        <div class="post-box w-100 text-center">
                            <div class="post-img overflow-hidden w-100">
                                <a href="blog-detail.html" title="">
                                    <img class="img-fluid w-100"
                                         src="~/assets/images/resources/post-img1-4.jpg"
                                         alt="Post Image 4">
                                </a>
                            </div>
                            <div class="post-info w-100">
                                <h3 class="mb-0">
                                    <a href="blog-detail.html" title="">
                                        مدل ها و راه حل های نصب شده |
                                        شرکت سیمول
                                    </a>
                                </h3>
                                <p class="mb-0">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>
                                <div class="post-info-bottom d-flex flex-wrap w-100">
                                    <span class="d-inline-block">
                                        <i class="far fa-user"></i><a href="javascript:void(0);" title="">تیم نتیتا</a>
                                    </span>
                                    <ul class="post-meta mb-0 list-unstyled d-inline-flex">
                                        <li><i class="far fa-calendar-alt"></i>03 تیر 1400</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- Blog Wrap -->
            <div class="view-all w-100 text-center">
                <a class="thm-btn thm-bg" href="blog.html" title="">
                    مشاهده همه اخبار<i class="flaticon-arrow-pointing-to-left"></i>
                </a>
            </div><!-- View All -->
        </div>
    </div>
</section>
@if (User.Identity.IsAuthenticated == false)
{
    <section>
        <div class="w-100 position-relative">
            <div class="container">
                <div class="getin-touch-wrap overlap-99 brd-rd5 style2 thm-layer opc8 w-100 overflow-hidden position-relative">
                    <div class="fixed-bg" style="background-image: url(/assets/images/parallax2.jpg);"></div>
                    <div class="row align-items-center justify-content-between">
                        <div class="col-md-7 col-sm-12 col-lg-5">
                            <div class="getin-touch-title w-100">
                                <span class="text-color1 d-block">مشترک شوید</span>
                                <h2 class="mb-0">با ساخت حساب کاربری آخرین مطالب ما را از طریق ایمیل دریافت کنید</h2>
                            </div>
                        </div>
                        <div class="col-md-5 col-sm-12 col-lg-4">
                            <div class="getin-touch-btn text-left">
                                <a class="thm-btn bg-color1" asp-action="register" asp-controller="" title="">
                                    ساخت حساب<i class="flaticon-arrow-pointing-to-left"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
