
@{
    ViewData["Title"] = "قرارداد";
}

@model ElementProp

<section>
    <div class="w-100 pt-170 pb-150 dark-layer3 opc7 position-relative">
        <div class="fixed-bg" style="background-image: url(/assets/images/pagetop-bg.jpg);"></div>
        <div class="container">
            <div class="page-top-wrap w-100">
                <h1 class="mb-0">خرید قرارداد</h1>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-action="index" asp-controller="home" title="">خانه</a></li>
                    <li class="breadcrumb-item active"><a asp-action="contract" asp-controller="payment" asp-route-pagenumber="1" title="">خرید قرارداد</a></li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="w-100 pt-100 pb-100 position-relative">
        <div class="container">
            <div class="about-wrap w-100">
                <div class="row justify-content-center">
                    <div class="col-md-12 col-sm-12 col-lg-10">
                        <div class="about-content-wrap w-100">
                            <div class="row">

                                @Html.Raw(Model.contractDescription)

                            </div>
                            <label style="font-size: 25px; margin-top: 20px">قیمت قرارداد: <b>@($"{ViewBag.price:0,0} تومان")</b></label>
                        </div>
                        <form asp-action="ContractPayment">
                            <div class="col-md-12 col-sm-12 col-lg-12" style="margin-top: 30px">
                                <button class="thm-btn thm-bg">
                                    خرید<i class="flaticon-arrow-pointing-to-left"></i>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div><!-- About Wrap -->
        </div>
    </div>
</section>
