
@model ElementProp
    <a href="@Model.instaLink" title="Instagram" target="_blank"><i class="fab fa-instagram"></i></a>
    <a href="@Model.telegramLink" title="Telegram" target="_blank"><i class="fab fa-telegram"></i></a>
