
@{
    ViewData["Title"] = "ویرایش حساب کاربری";
}

@model EditProfileViewModel
@inject UserManager<ApplicationUser> userManager

@{ ApplicationUser user = await userManager.FindByNameAsync(User.Identity.Name);}

<section>
    <div class="w-100 pt-170 pb-150 dark-layer3 opc7 position-relative">
        <div class="fixed-bg" style="background-image: url(/assets/images/pagetop-bg.jpg);"></div>
        <div class="container">
            <div class="page-top-wrap w-100">
                <h1 class="mb-0">ثبت نام</h1>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-action="index" asp-controller="home" title="">خانه</a></li>
                    <li class="breadcrumb-item active">ثبت نام</li>
                </ol>
            </div><!-- Page Top Wrap -->
        </div>
    </div>
</section>
<section style="margin-top: 15px">
    <div class="w-100 pb-100 position-relative">
        <div class="container">
            <form asp-action="editprofileconfirm" class="contact-form text-center w-100">
                <div class="row">
                    <div class="col-md-7 col-sm-7 col-lg-7">
                        <label class="d-block">نام :</label>
                        <input asp-for="name" value="@user.name" class="fname" type="text">
                        <span asp-validation-for="name"></span>
                    </div>
                    <div class="col-md-7 col-sm-7 col-lg-7">
                        <label class="d-block">نام خانوادگی :</label>
                        <input asp-for="family" value="@user.family" class="fname" type="text">
                        <span asp-validation-for="family"></span>
                    </div>
                    <div class="col-md-7 col-sm-7 col-lg-7">
                        <label class="d-block">آدرس ایمیل :</label>
                        <label style="font-size: 12px">ایمیل فعلی: @user.Email</label>
                        <input asp-for="userName" placeholder="ایمیل جدید" type="email">
                        <span asp-validation-for="userName"></span>
                    </div>
                    <div class="col-md-7 col-sm-7 col-lg-7">
                        <label class="d-block">شماره تلفن :</label>
                        <input asp-for="phoneNumber" value="@user.PhoneNumber" type="tel">
                        <span asp-validation-for="phoneNumber"></span>
                    </div>
                    <div class="col-md-7 col-sm-7 col-lg-7">
                        <button class="thm-btn thm-bg">
                            ویرایش<i class="flaticon-arrow-pointing-to-left"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
