	/*
  	Flaticon icon font: Flaticon
  	Creation date: 03/08/2020 13:27
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticond41d.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon.woff2") format("woff2"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
  font-style: normal;
}

.flaticon-wheel-saw:before { content: "\f100"; }
.flaticon-car-parts:before { content: "\f101"; }
.flaticon-jigsaw:before { content: "\f102"; }
.flaticon-helmet:before { content: "\f103"; }
.flaticon-lighthouse:before { content: "\f104"; }
.flaticon-mail:before { content: "\f105"; }
.flaticon-headset:before { content: "\f106"; }
.flaticon-placeholder:before { content: "\f107"; }
.flaticon-phone-call:before { content: "\f108"; }
.flaticon-shopping-basket:before { content: "\f109"; }
.flaticon-electric-tower:before { content: "\f10a"; }
.flaticon-file:before { content: "\f10b"; }
.flaticon-architect:before { content: "\f10c"; }
.flaticon-worker:before { content: "\f10d"; }
.flaticon-builder:before { content: "\f10e"; }
.flaticon-engineer:before { content: "\f10f"; }
.flaticon-engineer-1:before { content: "\f110"; }
.flaticon-work:before { content: "\f111"; }
.flaticon-worker-1:before { content: "\f112"; }
.flaticon-carpenter:before { content: "\f113"; }
.flaticon-construction:before { content: "\f114"; }
.flaticon-engineer-2:before { content: "\f115"; }
.flaticon-tools:before { content: "\f116"; }
.flaticon-chat:before { content: "\f117"; }
.flaticon-play:before { content: "\f118"; }
.flaticon-oil-drum:before { content: "\f119"; }
.flaticon-arrow-pointing-to-right:before { content: "\f11a"; }
.flaticon-arrow-pointing-to-left:before { content: "\f11b"; }
.flaticon-next:before { content: "\f11c"; }
.flaticon-back:before { content: "\f11d"; }
.flaticon-facebook:before { content: "\f11e"; }
.flaticon-twitter:before { content: "\f11f"; }
.flaticon-google-plus-logo:before { content: "\f120"; }
.flaticon-quote:before { content: "\f121"; }
.flaticon-quote-hand-drawn-symbol:before { content: "\f122"; }