
@{
    ViewData["Title"] = "اضاف، حذف و ویرایش فیلد ها";
}

<section>
    <div class="w-100 pt-170 pb-150 dark-layer3 opc7 position-relative">
        <div class="fixed-bg" style="background-image: url(/assets/images/pagetop-bg.jpg);"></div>
        <div class="container">
            <div class="page-top-wrap w-100">
            </div>
        </div>
    </div>
</section>

<section style="margin-top: 15px">
    <div class="w-100 pb-100 position-relative">
        <div class="container">
            <h3 style="margin-top: 30px">ثبت فیلد</h3>

            <partial name="_InsertElement2" />
        </div>
    </div>
</section>

<section style="margin-top: 15px">
    <div class="w-100 pb-100 position-relative">
        <div class="container">
            <partial name="_ListElement2" />
        </div>
    </div>
</section>
